PORT=5000

MONGO_URI=mongodb+srv://ajitparaskar87_db_user:Ajit%409090@smart-explorer-cluster.byyf0as.mongodb.net/galleryDB?retryWrites=true&w=majority

CLOUDINARY_CLOUD_NAME=dhxnn8odu
CLOUDINARY_API_KEY=579644826956353
CLOUDINARY_API_SECRET=UaffbHvvPIgETLL4zo1EE9Ns4a4